@import "main.css";

.boton {
  align-items: center;
  padding: 0.8rem 1.2rem;
}

.header-busqueda{
  padding: 5rem;
}

.contenedor-busqueda {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.formulario-busqueda {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.filtro {
  background-color: var(--color-fondo-inputs);
  border: 2px solid gainsboro;
}

.boton-buscar {
  border: none;
  background-color: var(--color-cta-primary);
  color: white;
}

.boton-clinicas {
  border: none;
  background-color: var(--color-cta-secondary);
  color: white;
}

.contenedor-filtros {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.input-busqueda {
    background-color: white;
    border: none;
    width: 20rem;
    padding: 0.6rem 1.2rem;
}

.icono-pequeno {
  width: 1rem;
  height: 1rem;
}

.foto-pequena {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1/4;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--color-texto-main);
    font-size: 0.9rem
}

main {
    max-width: 1000px; 
    margin: 0 auto;    
    padding: 0 1rem;   
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 5rem;
    margin-top: 2rem;
    padding: 0;
    list-style: none;
    margin-bottom: 5rem;
}


.tarjeta {
  display: grid;
  grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'foto titulo'
    'foto ubicacion'
    'foto alerta'
    'separador separador'
    'horario horario'
    'telefono pedir-cita';
  align-items: center;
  justify-items: start;
  gap: 2rem;
  background-color: #f2f2f2;
  padding: 1.5rem;
  width:100%;
  max-width: 30rem;
}
.titulo-clinica {  grid-area:titulo; }
.ubicacion {  grid-area: ubicacion; }
.alerta-urgencias {  grid-area: alerta; }
.horario {  grid-area: horario; }
.numero-telefono {  grid-area: telefono; }

.foto-clinica {
  grid-area:foto;
  width: 100%;
  height: 100%;
}

.separador-tarjeta {
  grid-area: separador;
  width: 100%;
  color: var(--color-texto-secondary);
}

.pedir-cita {
  grid-area: pedir-cita;
  justify-self: end;
  align-self: end;
}

.linea-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 0.5rem;
}


