@import url('/assets/fonts/inter.css');
@import url('/assets/fonts/poppins.css');

:root {
    --color-fondo-gradiente: #C7D9DD;
    --color-fondo-alternativo: #D5E5D5;
    --color-fondo-primario: #EEF1DA;
    --color-acentuado-primario: #ADB2D4; 
    
    --color-cta-critical: #EF5A6F;
    --color-cta-primary: #7B82A8;
    --color-cta-secondary: #88C9A1;

    --color-texto-main: #2A2D3F;
    --color-texto-secondary: #4A4a5E;
    --color-fondo-tarjetas: #FFFFFF;
    --color-fondo-inputs: #F9FAFB;

    --fuente-cabeceras: 'Poppins', sans-serif;
    --fuente-normal: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body) ;
    color: var(--color-text-secondary);
    background-color: var(--color-bg-card);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 600;
    color: var(--color-text-main);
    margin-top: 0;
}

.borde-asimetrico {
    border-radius: 0px 12px 0px 12px; 
}


/* CSS para el navbar */
.main-navbar {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente en el eje transversal */
    background-color: #ffffff;
    font-family: sans-serif;
    padding: 5px;
    box-shadow: 0 2px 4px var(--color-acentuado-primario); /* Sombra sutil para separar la navbar */
}

.main-navbar a {
    text-decoration: none;
    color: #6c757d;
    font-size: 0.9rem;
    margin-left: 2rem;
}

/* --- LOGO --- */
.main-logo {
    display: flex;
    align-items: center;
    color: #4a5568; /* Texto oscuro */
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 0;
}

.main-logo img {
    height: 35px;
    margin-right: 10px;
}

.main-navbar a:nth-child(2) {
    margin-left: auto; /* (Absorbe todo el espacio sobrante en el contenedor flex, empujando el resto a la derecha) */
}

.main-navbar a:nth-last-child(2) {
    background-color: #7b86a8; /* Azul grisáceo */
    color: white;
    padding: 0.6rem 1.2rem;
}

/* Botón "Urgencias" (Último elemento) */
.main-navbar a:last-child {
    background-color: #f4647c; /* Rosa/rojo */
    color: white;
    padding: 0.6rem 1.2rem;
}
.bg-gradient-1{
    background: #2A7B9B;
    background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    opacity: 75%;
}
